@import 'vars';

.primary-button {
  background-color: $--hospital-green;
  text-align: center;
  border-radius: 8px;
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
  font-size: $--md;
  font-weight: bold;
  height: 46px;
  transition: transform 0.2s;
}

.secondary-button {
  background-color: white;
  border-radius: 8px;
  border: 1px solid $--hospital-green;
  color: $--hospital-green;
  width: 300px;
  cursor: pointer;
  font-size: $--md;
  font-weight: bold;
  height: 46px;
  transition: transform 0.2s;
}

.add-to-cart-btn {
  background-color: $--hospital-green;
  text-align: center;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: $--md;
  font-weight: bold;
  height: 46px;
  transition: transform 0.2s;
  width: calc(100% - 48px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 84px;
}

.secondary-button:hover,
.primary-button:hover,
.add-to-cart-btn:hover {
  transform: scale(1.05);
}
